# notes
todo.txt

# ignore everything inside in infrastructure/backups except gitkeep
infrastructure/backups/*
!infrastructure/backups/.gitkeep

# compiled binaries
src/main
src/card-judge

tests/theme-validator/theme-validator
*.exe

# test output
tests/theme-validator/screenshots/
tests/theme-validator/theme-reports/