{{define "body"}}
<h2>User Account</h2>
<table>
    <tbody>
        <tr>
            <td>Name:</td>
            <td>
                <form
                    hx-put="/api/user/{{.User.Id}}/name"
                    hx-target="find .htmx-result"
                    hx-trigger="change"
                >
                    <div class="form-input">
                        <input
                            type="text"
                            name="name"
                            maxlength="255"
                            placeholder="Enter Name"
                            value="{{.User.Name}}"
                            required="required"
                            autocomplete="off"
                        />
                    </div>
                    <div class="htmx-result"></div>
                </form>
            </td>
        </tr>
        <tr>
            <td>Theme:</td>
            <td>
                <form
                    hx-put="/api/user/{{.User.Id}}/color-theme"
                    hx-target="find .htmx-result"
                    hx-trigger="change"
                >
                    <div class="form-input">
                        <select
                            name="colorTheme"
                            required="required"
                            autocomplete="off"
                        >
                            {{range .ThemeGroups}}
                            <optgroup label="{{.Name}}">
                                {{range .Themes}}
                                <option
                                    value="{{.Value}}"
                                    {{if or (and (not $.User.ColorTheme.Valid) (eq .Value "dark-theme")) (eq $.User.ColorTheme.String .Value)}}
                                    selected
                                    {{end}}
                                >
                                    {{.Label}}
                                </option>
                                {{end}}
                            </optgroup>
                            {{end}}
                        </select>
                    </div>
                    <div class="htmx-result"></div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<br />
<details>
    <summary>Change Password</summary>
    <form
        hx-put="/api/user/{{.User.Id}}/password"
        hx-target="find .htmx-result"
    >
        <div class="form-input">
            <label for="currentPassword">Current Password</label>
            <input
                type="password"
                id="currentPassword"
                name="currentPassword"
                maxlength="255"
                placeholder="Current Password"
                required="required"
                autocomplete="password"
            />
            <label for="newPassword">New Password</label>
            <input
                type="password"
                id="newPassword"
                name="newPassword"
                maxlength="255"
                placeholder="New Password"
                required="required"
                autocomplete="new-password"
            />
            <label for="newPasswordConfirm">Confirm New Password</label>
            <input
                type="password"
                id="newPasswordConfirm"
                name="newPasswordConfirm"
                maxlength="255"
                placeholder="New Password Again"
                required="required"
                autocomplete="off"
            />
        </div>
        <div class="htmx-result"></div>
        <input
            type="submit"
            value="Change Password"
        />
    </form>
</details>
<br />
<details class="danger-zone">
    <summary class="danger-zone-summary">
        <span class="bi bi-exclamation-triangle-fill"></span>
        Danger Zone
    </summary>
    <br />
    <p>
        Warning: This action cannot be undone. Deleting your account will permanently remove all your data.
    </p>
    <button
        hx-delete="/api/user/{{.User.Id}}"
        hx-confirm="Are you sure you want to delete your user account?"
    >
        <span class="bi bi-trash"></span>
        Delete User Account
    </button>
</details>
{{end}}