{{define "body"}}
<link
    rel="stylesheet"
    href="/static/css/home.css"
/>
<div id="home">
    <h1>Timeline Trivia</h1>
    <div id="home-buttons">
        {{if .LoggedIn}}
        <div>
            <button data-href="/timeline-trivia/lobbies">Game Lobbies</button>
        </div>
        <div>
            <button data-href="/decks">Card Decks</button>
        </div>
        <div>
            <button data-href="/stats">Statistics</button>
        </div>
        <div>
            <button data-href="/account">Account</button>
        </div>
        {{else}}
        <div>
            <button data-href="/login">Login</button>
        </div>
        {{end}}
        <div>
            <button data-href="/about">About</button>
        </div>
        {{if .User.IsAdmin}}
        <div>
            <button data-href="/users">Users</button>
        </div>
        <div>
            <button data-href="/categories">Categories</button>
        </div>
        <div>
            <button data-href="/flagged-cards">Flagged Cards</button>
        </div>
        {{end}}
    </div>
</div>
{{end}}