{{define "body"}}
<div style="display: grid; grid-auto-flow: column">
    <h2>CAH Lobbies</h2>
    <div style="text-align: right;">
        <button onclick="window.location.href='/chronology/lobbies'" style="margin-right: 10px;">
            <span class="bi bi-clock-history"></span> Chronology
        </button>
        <button onclick="document.getElementById('lobby-create-dialog').showModal()">
            <span class="bi bi-plus-circle"></span> Create Lobby
        </button>
    </div>
</div>
<dialog id="lobby-create-dialog">
    <div style="display: grid; grid-auto-flow: column">
        <div>
            <h3>Create Lobby</h3>
        </div>
        <div>
            <span
                class="bi bi-x-lg close-button"
                onclick="document.getElementById('lobby-create-dialog').close()"
            ></span>
        </div>
    </div>
    <form
        hx-post="/api/lobby/create"
        hx-target="find .htmx-result"
    >
        <div class="form-input">
            <label for="createLobbyName">Name</label>
            <input
                type="text"
                id="createLobbyName"
                name="name"
                maxlength="255"
                placeholder="Enter Lobby Name"
                required="required"
                autocomplete="off"
            />
            <label for="createLobbyMessage">Message</label>
            <input
                type="text"
                id="createLobbyMessage"
                name="message"
                maxlength="255"
                placeholder="Enter Lobby Message"
                autocomplete="off"
            />
        </div>
        <br />
        <details>
            <summary>Password (optional)</summary>
            <div class="form-input">
                <label for="createLobbyPassword">Password</label>
                <input
                    type="password"
                    id="createLobbyPassword"
                    name="password"
                    maxlength="255"
                    placeholder="Enter Lobby Password"
                    autocomplete="off"
                />
                <label for="createLobbyPasswordConfirm">Confirm Password</label>
                <input
                    type="password"
                    id="createLobbyPasswordConfirm"
                    name="passwordConfirm"
                    maxlength="255"
                    placeholder="Confirm Lobby Password"
                    autocomplete="off"
                />
            </div>
        </details>
        <br />
        <details>
            <summary>Settings</summary>
            <div class="form-input">
                <label for="createLobbyDrawPriority">Draw Priority</label>
                <select
                    id="createLobbyDrawPriority"
                    name="drawPriority"
                    autocomplete="off"
                    required="required"
                >
                    <option
                        value="RANDOM"
                        selected
                    >Random</option>
                    <option value="PLAYCOUNT">Play Count</option>
                </select>
                <label for="createLobbyHandSize">Hand Size</label>
                <select
                    id="createLobbyHandSize"
                    name="handSize"
                    autocomplete="off"
                    required="required"
                >
                    <option value="6">6</option>
                    <option
                        value="8"
                        selected
                    >8</option>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                </select>
                <label for="createLobbyFreeCredits">Free Credits</label>
                <select
                    id="createLobbyFreeCredits"
                    name="freeCredits"
                    autocomplete="off"
                    required="required"
                >
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option
                        value="3"
                        selected
                    >3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="createLobbyWinStreakThreshold">Win Streak Threshold</label>
                <select
                    id="createLobbyWinStreakThreshold"
                    name="winStreakThreshold"
                    autocomplete="off"
                    required="required"
                >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option
                        value="3"
                        selected
                    >3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="createLobbyLoseStreakThreshold">Lose Streak Threshold</label>
                <select
                    id="createLobbyLoseStreakThreshold"
                    name="loseStreakThreshold"
                    autocomplete="off"
                    required="required"
                >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option
                        value="3"
                        selected
                    >3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </details>
        {{$deckCount := len .Decks}}
        {{if gt $deckCount 0}}
        <h3>Choose Decks</h3>
        <table style="max-height: 200px">
            <tbody>
                {{range .Decks}}
                <tr>
                    <td>
                        <input
                            id="deckSelect{{.Id}}"
                            type="checkbox"
                            name="deckId{{.Id}}"
                            value="{{.Id}}"
                            autocomplete="off"
                        />
                        <label
                            for="deckSelect{{.Id}}"
                            class="clickable"
                        >{{.Name}}</label>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{end}}
        <br />
        <details>
            <summary>Missing decks?</summary>
            <p>Go <a href="/decks">here</a> to access/create some.</p>
        </details>
        <br />
        <br />
        <div class="htmx-result"></div>
        <input
            type="submit"
            value="Create Lobby"
        />
    </form>
</dialog>
<form id="table-filter-form">
    <label for="nameSearch">Search:</label>
    <input
        type="search"
        id="nameSearch"
        name="name"
        maxlength="510"
        placeholder="Search..."
        value="{{.Name}}"
        autocomplete="off"
        onchange="submitTableFilterForm()"
    />

    {{if gt .Page 1}}
    <button onclick="goToTablePage(1)">
        <span class="bi bi-chevron-bar-left"></span>
    </button>
    <button onclick="goToPreviousTablePage()">
        <span class="bi bi-chevron-left"></span>
    </button>
    {{end}}

    <span>
        Page <input
            type="number"
            id="pageNumber"
            name="page"
            min="1"
            max="{{.LastPage}}"
            value="{{.Page}}"
            onchange="submitTableFilterForm()"
        /> of {{.LastPage}}
    </span>

    {{if lt .Page .LastPage}}
    <button onclick="goToNextTablePage()">
        <span class="bi bi-chevron-right"></span>
    </button>
    <button onclick="goToTablePage({{.LastPage}})">
        <span class="bi bi-chevron-bar-right"></span>
    </button>
    {{end}}
</form>
{{if eq .RowCount 0}}
No lobbies found with that search criteria.
{{else}}
<table>
    <thead>
        <tr>
            <th>Created</th>
            <th>Name</th>
            <th>Security</th>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
        {{range .Lobbies}}
        <tr>
            <td>{{.CreatedOnDate.Format "2006-01-02"}}</td>
            <td class="wrap-new-lines"><a href="/lobby/{{.Id}}">{{.Name}}</a></td>
            <td>{{if .PasswordHash.Valid}} <span class="bi bi-lock">Protected</span> {{else}} Open {{end}}</td>
            <td>{{.UserCount}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
<br />
<br />
{{end}}