{{define "body"}}
<div style="display: grid; grid-auto-flow: column">
    <h2>Card Stats</h2>
    <div style="text-align: right;">
        <button onclick="window.location.href='/stats'">Statistics Home</button>
    </div>
</div>
<p>Pick a card to see how it plays. Only cards from decks you can access are shown.</p>
<form id="table-filter-form">
    <label for="textSearch">Search:</label>
    <input
        type="search"
        id="textSearch"
        name="text"
        maxlength="510"
        placeholder="Search..."
        value="{{.Text}}"
        autocomplete="off"
        onchange="submitTableFilterForm()"
    />

    {{if gt .Page 1}}
    <button onclick="goToTablePage(1)">
        <span class="bi bi-chevron-bar-left"></span>
    </button>
    <button onclick="goToPreviousTablePage()">
        <span class="bi bi-chevron-left"></span>
    </button>
    {{end}}

    <span>
        Page <input
            type="number"
            id="pageNumber"
            name="page"
            min="1"
            max="{{.LastPage}}"
            value="{{.Page}}"
            onchange="submitTableFilterForm()"
        /> of {{.LastPage}}
    </span>

    {{if lt .Page .LastPage}}
    <button onclick="goToNextTablePage()">
        <span class="bi bi-chevron-right"></span>
    </button>
    <button onclick="goToTablePage({{.LastPage}})">
        <span class="bi bi-chevron-bar-right"></span>
    </button>
    {{end}}
</form>
{{if eq .RowCount 0}}
No cards found with that search criteria.
{{else}}
<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Category</th>
            <th>Deck</th>
            <th>Event</th>
            <th>Stats</th>
        </tr>
    </thead>
    <tbody>
        {{range .Cards}}
        <tr>
            <td>{{.YearLabel}}</td>
            <td>{{if .CategoryName.Valid}}{{.CategoryName.String}}{{else}}<em>none</em>{{end}}</td>
            <td>{{.DeckName}}</td>
            <td class="wrap-new-lines">{{.Text}}</td>
            <td>
                <div style="text-align: center;">
                    <a href="/stats/card/{{.Id}}"><button>View</button></a>
                </div>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
{{end}}
