{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <title>{{.PageTitle}}</title>
    <script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.js"
        integrity="sha384-yWakaGAFicqusuwOYEmoRjLNOC+6OFsdmwC2lbGQaRELtuVEqNzt11c2J711DeCZ"
        crossorigin="anonymous"
    ></script>
    <script src="/static/js/global.js"></script>
    <link
        rel="icon"
        type="image/x-icon"
        href="/static/images/favicon.png"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    >
    <link
        rel="stylesheet"
        href="/static/css/global.css"
    />
    <link
        rel="stylesheet"
        href="/static/css/colors.css"
    />
</head>

<body
    {{if .User.ColorTheme.Valid}}
    class="{{.User.ColorTheme.String}}"
    {{else}}
    class="dark-theme"
    {{end}}
>
    <div id="top-bar">
        <div style="text-align: left">
            <span
                class="clickable"
                onclick="location.href='/'"
                title="Go to Home Page"
            >
                Timeline Trivia
            </span>
        </div>
        <div style="text-align: right">
            <span
                id="top-bar-menu-toggle"
                class="bi bi-list clickable"
                onclick="toggleTopBarMenu()"
                title="Menu Toggle"
            ></span>
        </div>
    </div>
    <div id="top-bar-menu">
        {{if .LoggedIn}}
        <div class="top-bar-menu-item">
            Playing As: {{.User.Name}}
            <i class="bi bi-person"></i>
        </div>
        <div
            class="top-bar-menu-link"
            onclick="location.href='/account'"
        >
            Account
            <i class="bi bi-gear"></i>
        </div>
        <div
            class="top-bar-menu-link"
            hx-post="/api/user/logout"
            hx-confirm="Are you sure you want to logout?"
        >
            Logout
            <i class="bi bi-box-arrow-left"></i>
        </div>
        {{else}}
        <div
            class="top-bar-menu-link"
            onclick="location.href='/login'"
        >
            Login
            <i class="bi bi-box-arrow-in-left"></i>
        </div>
        {{end}}
        <div
            class="top-bar-menu-link"
            onclick="window.open('https://www.paypal.com/donate/?business=E3XMFGH4CR3G2&no_recurring=0&currency_code=USD', '_blank');"
        >
            Donate
            <i class="bi bi-gift"></i>
        </div>
    </div>
    <div id="content">
        <div id="body">{{template "body" .}}</div>
    </div>

    <dialog id="confirmation-dialog">
        <h3>Confirm</h3>
        <h5 id="confirmation-dialog-message"></h5>
        <div style="display: grid; grid-auto-flow: column">
            <div style="text-align: right;">
                <button onclick="confirmationAnswerYes()">Yes</button>
            </div>
            <div>&nbsp;</div>
            <div style="text-align: left;">
                <button onclick="confirmationAnswerNo()">No</button>
            </div>
        </div>
    </dialog>
</body>

</html>
{{end}}